 body{
    background-color: #333;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
 }
 a{
    color: lime;
 }
 h1{
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-align: center;
 }
