 body{
    background-color: #333;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 a{
    color: lime;
 }
 h1{
   font-size: large;
   color: #fff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
 }
