 body{
    background-color: #333;
    color: #fff;
font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 h1{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
 }
